---
import Layout from "../layouts/Layout.astro";
---

<Layout title="La Velada Sebas">
  <main>
	<div class="sebas">
		<h1 class="text-white animate-blurred-fade-in" style="font-size: 50px ; text-align: center;  ">Hola mundo</h1>

	</div>
	
  </main>
</Layout>


<style>
	body{
		height: 100vh;
		width: 100%;
	}

	main{
		height: 100vh;
		width: 100%;
	}

	.sebas{
		padding-top: 30vh;
	}
	
</style>