---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Mi Portafolio">
  <main class="px-6">
    <section class="w-full mx-auto lg:w-[740px] py-44 animate-bounce-fade-in">
		<img
		class="rounded-full w-12 h-12 mb-4"
		src="public/myphoto.jpeg"
		alt="sebas photo"
	  />
      <h1 class="text-2xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hey, soy Sebastian <div class="flex justify-center items-center">
          <Badge>Disponible para trabajar</Badge>
        </div>
      </h1>
      <h2 class="text-2xl opacity-90 text-wrap">
        +1 años de experiencia. Desarrollandor de Aplicaciones Web. Soy de
        Paraguay. Especializado en crear Frontend.
      </h2>
    </section>
  </main>
</Layout>
